.travelInfo_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 70%;
  border: 1px black solid;
  padding-left: 20px;
  padding-right: 60px;
}

.link_btn {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: black;
  border: 1px red solid;
  border-radius: 4px;
  padding: 5px;
}
